<div class="card">

   <div class="card-head">
      <h1>
         <mat-icon>dashboard</mat-icon>
         Dashboard
      </h1>
   </div>

   <div class="card-body">

      <div class="card-profile">

         <mat-card class="card-profile-body">

            <mat-card-header class="card-profile-header">
              <mat-card-title>Welcome back!</mat-card-title>
              <mat-card-subtitle>PhotoSystem Desing</mat-card-subtitle>
            </mat-card-header>

            <img mat-card-image
               class="card-profile-image"
               src="https://material.angular.io/assets/img/examples/shiba1.jpg"
               alt="Photo of a Shiba Inu">

            <mat-card-content class="card-profile-content">
               <div class="profile-content-container">

                  <div class="content-name-role">
                     <h2 class="profile-name">Full Name</h2>
                     <h4 class="profile-role">Role</h4>
                  </div>

                  <div class="content-task-status">
                     <h2>Task Status</h2>
                     <span class="progress-bar-number">40 %</span>
                     <mat-progress-bar color='primary' class="progress-bar" mode="determinate" value="50"></mat-progress-bar>
                     <button mat-fab extended class="view-profile-button" color="primary">
                        <span>View Profile</span>
                        <mat-icon class="button-icon">arrow_forward</mat-icon>
                      </button>
                  </div>

               </div>
            </mat-card-content>

          </mat-card>


      </div>

      <div class="card-tasks">
         <mat-card class="card-task-body">

            <mat-card-header class="card-task-header">
               <mat-card-title class="card-task-header-title">Assigned Tasks</mat-card-title>
            </mat-card-header>

            <mat-card-content class="card-task-content">
               <mat-list class="task-content-container">
                  <mat-list-item class="status-task">
                     <mat-icon matListItemIcon class="lateral-bar" > </mat-icon>
                     <h2 matListItem class="status-task-group">Completed</h2>
                     <span class="status-task-done">X tasks</span>
                     <mat-icon matListItemIcon class="btn-edit-task" >edit</mat-icon>
                  </mat-list-item>
                  <mat-list-item class="status-task">
                     <mat-icon matListItemIcon class="lateral-bar" > </mat-icon>
                     <h2 matListItem class="status-task-group">Active</h2>
                     <span class="status-task-done">X tasks</span>
                     <mat-icon matListItemIcon class="btn-edit-task" >edit</mat-icon>
                  </mat-list-item>
                  <mat-list-item class="status-task">
                     <mat-icon matListItemIcon class="lateral-bar" > </mat-icon>
                     <h2 matListItem class="status-task-group">Pending</h2>
                     <span class="status-task-done">X tasks</span>
                     <mat-icon matListItemIcon class="btn-edit-task" >edit</mat-icon>
                  </mat-list-item>
               </mat-list>

               <button mat-fab extended class="datails-button" color="primary">
                  <span>Details</span>
                  <mat-icon class="button-icon">arrow_forward</mat-icon>
                </button>

            </mat-card-content>
         </mat-card>
      </div>

   </div>


</div>
