.card-body {
   display: flex;
   gap: 10px;
   height: 100%;

   .card-profile,
   .card-tasks {
      width: 50%;
      margin: 0;
      padding: 0;

   }

   .card-profile {
      .card-profile-body {
         height: 100%;
         background: #B4C6E7;

         .card-profile-header {
            height: 30%;
         }

         .card-profile-image {
            aspect-ratio: 1/1;
            width: 100%;
            max-width: 120px;
            object-fit: cover;
            border-radius: 50%;
            padding: 2.5px;
            border: solid 2.5px #061736;
            position: absolute;
            align-self: flex-start;
            top: 17%;
            left: 2.5%;
            box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.2);
         }

         .card-profile-content {
            //padding: 25px 10px 10px 10px;
            height: 75%;
            background: #8EA9DB;

            .profile-content-container {
               height: calc(100% - 60px);
               margin-top: 65px;
               display: flex;
               flex-direction: column;

               h2,
               h4 {
                  margin-bottom: 8px;
               }

               .content-name-role {
                  height: 30%;

               }

               .content-task-status {
                  padding: 5px;
                  border-radius: 5px;
                  background: #B4C6E7;
                  height: 70%;
                  display: flex;
                  flex-direction: column;
                  border: solid 2.5px #1A3053;

                  .progress-bar-number {
                     align-self: flex-end;
                     font-weight: bold;
                  }

                  .progress-bar {
                     height: 20px;
                     color: #1A3053;
                     // background-color: #3A3838;
                  }

                  .view-profile-button {
                     margin-top: 15px;
                     height: 30%;
                     width: 40%;
                     display: flex;
                     justify-content: center;
                     align-self: flex-end;

                     .button-icon {
                        order: 2;
                        margin-left: 15px;
                        margin-right: 0;
                     }

                  }
               }
            }
         }
      }
   }

   .card-tasks {

      .card-task-body {
         height: 100%;
         background: #B4C6E7;

         .card-task-header {
            height: 30%;
            align-items: center;

            .card-task-header-title {
               font-size: 45px
            }
         }

         .card-task-content {
            height: 75%;
            background: #8EA9DB;
            display: flex;
            flex-direction: column;

            .task-content-container {

               .status-task {
                  height: 80px;
                  .lateral-bar {
                     margin-right: 16px;
                     height: 45px;
                     border-left: solid 5px #000;
                  }

                  .status-task-group {
                     margin-bottom: 0;
                     font-size: 20px;
                  }

                  .status-task-done{
                     color: #686868;
                  }

                  .btn-edit-task {
                     order: 1;
                     margin: 0;
                     color: #000;
                  }
               }
            }
         }
         .datails-button{
            height: 15%;
            width: 40%;
            display: flex;
            justify-content: center;
            align-self: flex-end;
            .button-icon {
               order: 2;
               margin-left: 15px;
               margin-right: 0;
            }
         }
      }
   }




}
