.display-page{
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 16px);
  gap: 8px;

  .sidenav{
    height: 100%;
  }

  .page-content{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    // row-gap: 8px;

    .header{
      width: 100%;
    }

    .body{
      height: 100%;
      //If there is a header component the padding-top will be 8px.
      padding: 0px 0 28px 0;
    }

  }
}
