.sidenav{
  display: flex;
  flex-direction: column;
  background: #1E88E5;
  width: 240px;
  height: 100%;
  border-radius: 12px;
  padding: 0 10px 0 10px;
  transition: all 0.3s ease;

  .app-logo-name{
    width: auto;
    min-width: 12em;
    height: 52px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: #1A3053;
    border-radius: 10px;
    cursor: pointer;

    .app-name{
      margin: 0.5em;
      color: #E2FF65;
      transition: all 0.3s ease;
    }

    .app-icon{
      font-size: 32px;
      color: #E2FF65;
      width: 32px;
      height: 32px;
      margin: 0 8px;
    }

    .btn-close-sidenav{
      transition: all 0.3s ease;
      justify-self: end;

      .btn-close{
        font-size: 21px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: #E2FF65;
        transition: all .3s ease;
      }

      .btn-close:hover{
        color: #F44336;
      }

    }
  }
}
