<div class="sidenav" [ngStyle]="{ 'width.px' : sidenavResizeTo }">

   <mat-list-item class="app-logo-name" [ngStyle]="{ 'width.px' : sidenavResizeTo }">

      <mat-icon matListItemIcon class="app-icon" (click)="toggleMenu()">solar_power</mat-icon>
      <h2 matListItemTitle @fadeInOut class="app-name" *ngIf="!sidenavClosed">PhotoSystem</h2>
      <mat-icon matListItemIcon @rotate class="btn-close" (click)="closeMenu()" *ngIf="!sidenavClosed">close</mat-icon>

   </mat-list-item>

   <app-sidenav-list
      [sidenavClosed]="sidenavClosed"
      [sidenavResizeTo]="sidenavResizeTo"
    ></app-sidenav-list>

</div>
