.sidenav {
   display: flex;
   flex-direction: column;
   background: #1E88E5;
   width: 240px;
   height: 100%;
   border-radius: 12px;
   padding: 0 10px 0 10px;
   transition: all 0.7s ease;

   .app-logo-name{
      display: flex;
      align-items: center;
      padding: 0;
      margin-top: 12px;
      margin-bottom: 4px;
      background: #1A3053;
      border-radius: 10px !important;
      cursor: pointer;
      transition: all 0.5s ease;
      height: 52px;

      .app-name {
         margin: 0.5em;
         color: #E2FF65;
      }

      .app-icon,
      .btn-close{
         font-size: 32px;
         color: #E2FF65;
         width: 32px;
         height: 32px;
         margin: 0 8px;
      }

      .btn-close{
         order: 1;
      }

      .btn-close:hover{
         color: #F44336;
      }
   }
}

.mdc-list-item__start,
.mdc-list-item__end,
.mdc-list-item__content {
   pointer-events: auto;
}
