<mat-list class="sidenav-list">

  <mat-list-item class="list-item" *ngFor="let sidenav of sidenavData" [ngStyle]="{ 'width.px' : sidenavResizeTo }">

    <mat-icon matListItemIcon class="icon-list" [routerLink]="[sidenav.routeLink]" routerLinkActive="router-link-active">{{sidenav.icon}}</mat-icon>
    <a matListItemTitle class="list-link" [routerLink]="[sidenav.routeLink]" routerLinkActive="router-link-active" *ngIf="!sidenavClosed">{{sidenav.label}}</a>
    <mat-icon matListItemIcon class="sub-list-icon" *ngIf="sidenav.items" [mat-menu-trigger-for]="menu">more_vert</mat-icon>

    <mat-menu #menu="matMenu">

    </mat-menu>

  </mat-list-item>

</mat-list>
